body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-justify: none !important;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-family: 'Courier', sans-serif;
  font-stretch: condensed;
  font-size: 100%;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.teaser {
  width: 60%;
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
}

.container{
  margin-top: 10px;
  margin-bottom: 10px;
}
.safety-problem-top {
  width: 60%;
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
}

.method-top {
  width: 45%;
  float: right;
  /* display: flex; */
  align-items: center;
}

.teaser-text {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
} */

.method-top {
  width: 45%;
  float: right;
  /* display: flex; */
  align-items: center;
}

.teaser-text {
  font-size: 1rem;
}


img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title{
  margin-top: 20px;
  margin-bottom: 10px;
}

.qualitative-understanding-images {
  width: 120%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10%; /* Adjust the negative margin to center the element */
  margin-right: -10%; /* Adjust the negative margin to center the element */
  /* left: 50%; Position the element horizontally in the center
  position: relative; Set the element as relative to its parent container */
}

.control-example-images{
  /* width:70%; */
  margin-left: 20%;
  margin-right: 20%;
}



figcaption {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}

.content{
  text-align: left;
}

.relevancy{
  background-color: rgba(232, 208, 147, 0.698) !important;
}